-var total_size=0;
table.table.table-bordered
	thead
		tr
			th #
			th File
			th Size
	tbody
		-each file, i in files
			-total_size += file.size
			tr
				td=(i+1)
				td=file.name
				td=convert(file.size)
input(type='text', placeholder='tags, comma separated')#tags
section.well
	-total_size = convert(total_size)
	span
		|uploading #{files.length} files (#{total_size})
	button.btn.pull-right.btn-primary#upload Upload
		
